<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
	<div class="container">
		<a class="navbar-brand" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pill-fill" viewBox="0 0 16 16">
				<path d="M8.063 4.146a1 1 0 0 1 .874-.146L9 4v2.002h1.5a1.5 1.5 0 0 1 0 3H9v2h1.5a1.5 1.5 0 0 1 0 3H9v1a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-1H5.5a1.5 1.5 0 0 1 0-3H7v-2H5.5a1.5 1.5 0 0 1 0-3H7V4a1 1 0 0 1 .063-.854zM7.5 11h1a.5.5 0 0 0 0-1H7v1h.5a.5.5 0 0 0 0-1H7v1zm-.5-3h2a.5.5 0 0 0 0-1H7v1z" />
			</svg>
			Web Medicament
		</a>
		<div class="navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li><a class="dropdown-item text-light" asp-area="" asp-controller="Medicament" asp-action="Index">Liste des medicaments</a></li> 
				<li><a class="dropdown-item text-light" asp-area="" asp-controller="Medicament" asp-action="Ajouter">Ajouter Medicament</a></li> 
			</ul>
		</div>
	</div>
</nav>
