<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		@Html.ActionLink("Web Medicament", "Index", "Medicament", new { area = "" }, new { @class ="navbar-brand" })
		<button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li><a class="dropdown-item" asp-area="" asp-controller="Medicament" asp-action="Index">Liste des medicaments</a></li>
					<li><a class="dropdown-item" asp-area="" asp-controller="Medicament" asp-action="Ajouter">Ajouter Medicament</a></li>
			</ul>
		</div>
	</div>
</nav>
