@model System.Data.DataTable
@using WebGsbMedicament.Models.Metier;
@using System.Data;
 
@{
	ViewBag.Title = "Liste des medicaments";
	Layout = "~/Views/Shared/_LayoutMedicament.cshtml";
} 


@if (Model != null)
{

	<div class="container">
        <div class="col-md-8 col-sm-8">
			<div class="blanc">
				<h2>Liste des medicaments</h2>
			</div>

			<table class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>id_medicament</th>
							<th>id_famille</th>
							<th>depot legal</th>
							<th>nom commercial</th>
							<th>effets</th>
							<th>contre indication</th>
							<th>famille</th>
							<th>quantité dosage</th>
							<th>unite dosage</th>
							<th>posologie</th>
							<th>type individu</th>
							<th>Modifier</th>
							<th>Modifier</th>
						</tr>
					</thead>

				@foreach (DataRow dataRow in Model.Rows)
						{
							<tr>
								@foreach (var item in dataRow.ItemArray)
									{
									<td>
										@if (dataRow.ItemArray[dataRow.ItemArray.Length - 1].ToString() == item.ToString())
										{
											@item.ToString()
										}
										else
										{
											@item.ToString()
										}
									</td>
									}
								<td style="text-align:center;">
									<span>
										<a href="@Url.Action("Modifier", "Medicament", new { id = dataRow[0] })" class="btn btn-modifier">
											Modifier
										</a>
									</span>
								</td>

								<td style="text-align:center;">
									<span>
										<a href="@Url.Action("Supprimer", "Medicament", new { id = dataRow[0] })" class="btn btn-supprimer">
											 Supprimer
										</a>
									</span>
								</td>
							</tr>
						}
				</table>

		</div>
	</div>		
}

<style>
	/* Style pour le titre */
	.blanc h2 {
		margin-top: 20px;
		color: #333;
	}

	/* Style pour la table */
	.table {
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #ddd;
	}

		/* Style pour les cellules de la table */
		.table th, .table td {
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

	/* Style pour les boutons Modifier */
	.btn-modifier {
		background-color: #007bff;
		color: #fff;
	}

		.btn-modifier:hover {
			background-color: #0056b3;
		}

	/* Style pour les boutons Supprimer */
	.btn-supprimer {
		background-color: #dc3545;
		color: #fff;
	}

		.btn-supprimer:hover {
			background-color: #bd2130;
		}
</style>

